body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #272727;
  color: white; }
  body.no-layer #tab-no-layer {
    color: red; }
  body.misc-layer #tab-misc-layer {
    color: red; }
  body.page-layer #tab-page-layer {
    color: red; }
  body.page-comp #tab-page-comp {
    color: red; }
  body.part-comp #tab-part-comp {
    color: red; }
  body.highlight-layer #tab-highlight-layer {
    color: red; }
  body.highlight-control-layer #tab-highlight-control-layer {
    color: red; }
  body.misc-comp #tab-misc-comp {
    color: red; }

h1 {
  font-weight: 100; }

button {
  backface-visibility: hidden;
  outline: none;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background-color: #58c;
  border-radius: 0px;
  border-width: 0px 0px 4px 0px;
  border-color: #246;
  border-style: solid;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0 0 5px 0;
  color: #fff;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal; }
  button:hover {
    background-color: #71a3e3; }
  button:active {
    background-color: #3172c4; }
  button.running {
    background-color: #b769c7;
    border-color: #591d66; }
    button.running:hover {
      background-color: #bf83cc; }
    button.running:active {
      background-color: #9930b0; }
  button.disabled {
    background-color: #a6a6a6;
    border-color: #7d7d7d;
    cursor: default; }
    button.disabled:hover {
      background-color: #a6a6a6; }
    button.disabled:active {
      background-color: #a6a6a6; }
  button.ui-icon {
    padding-left: 2.1em;
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: 5px center; }
    button.ui-icon.ui-icon-power {
      background-image: url(assets/power.png); }
    button.ui-icon.ui-icon-reload {
      background-image: url(assets/reload.png); }
    button.ui-icon.ui-icon-shape {
      background-image: url(assets/shape.png); }
    button.ui-icon.ui-icon-highlight {
      background-image: url(assets/highlight.png); }
    button.ui-icon.ui-icon-guides {
      background-image: url(assets/guides.png); }
    button.ui-icon.ui-icon-auto {
      padding-left: 2.2em;
      background-image: url(assets/auto.png);
      background-size: 1.5em; }

li.annotation-item {
  padding: 5px;
  margin-bottom: 5px;
  color: black;
  list-style-type: none;
  cursor: pointer; }
  li.annotation-item .clean-name {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-bottom: 4px; }
  li.annotation-item .highlight-text {
    font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 10px; }
  li.annotation-item.highlight-yellow {
    background-color: #facd5a; }
    li.annotation-item.highlight-yellow:hover {
      background-color: #fdebbd; }
  li.annotation-item.highlight-green {
    background-color: #7dc768; }
    li.annotation-item.highlight-green:hover {
      background-color: #bde3b2; }
  li.annotation-item.highlight-pink {
    background-color: #fb5c89; }
    li.annotation-item.highlight-pink:hover {
      background-color: #fdc0d1; }
  li.annotation-item.highlight-purple {
    background-color: #c885da; }
    li.annotation-item.highlight-purple:hover {
      background-color: #ebd3f2; }
  li.annotation-item.highlight-blue {
    background-color: #69b0f1; }
    li.annotation-item.highlight-blue:hover {
      background-color: #c6e1fa; }
  li.annotation-item.yellow {
    background-color: #ffff00; }
    li.annotation-item.yellow:hover {
      background-color: #ffff66; }
  li.annotation-item.red {
    background-color: #ff0000; }
    li.annotation-item.red:hover {
      background-color: #ff6666; }
  li.annotation-item.brown {
    background-color: #aa7942; }
    li.annotation-item.brown:hover {
      background-color: #cfab83; }
  li.annotation-item.blue {
    background-color: #0088ff; }
    li.annotation-item.blue:hover {
      background-color: #66b8ff; }
  li.annotation-item.orange {
    background-color: #ff8800; }
    li.annotation-item.orange:hover {
      background-color: #ffb866; }
  li.annotation-item.purple {
    background-color: #942192; }
    li.annotation-item.purple:hover {
      background-color: #d645d3; }
  li.annotation-item.pink {
    background-color: #ff40ff; }
    li.annotation-item.pink:hover {
      background-color: #ffa6ff; }
  li.annotation-item.black {
    background-color: #000000;
    color: white; }
    li.annotation-item.black:hover {
      background-color: #333333; }
  li.annotation-item.grey {
    background-color: #919191;
    color: white; }
    li.annotation-item.grey:hover {
      background-color: #c4c4c4; }
  li.annotation-item.white {
    background-color: #ffffff; }
    li.annotation-item.white:hover {
      background-color: #cccccc; }

/*# sourceMappingURL=style.css.map */